node_modules/electron/dist/electron.exe filter=lfs diff=lfs merge=lfs -text
build/win/electron-react-app-win32-x64/Paint.exe filter=lfs diff=lfs merge=lfs -text
build/win/electron-react-app-win32-x64/resources/app.asar filter=lfs diff=lfs merge=lfs -text
